In [2]:
using DataFrames
using CSV
using Statistics
using ScikitLearn

In [26]:
@sk_import linear_model: LinearRegression
@sk_import linear_model: ElasticNet

WARNING: redefining constant LinearRegression

PyObject <class 'sklearn.linear_model.coordinate_descent.ElasticNet'>

In [12]:
KEY = "2018chs"
COLUMN = :totalPoints

:totalPoints

In [13]:
headers = CSV.read("../data/2018_headers.csv") |> (h -> String.(names(h))) |> (a -> push!(a, "key"))
scores = CSV.read("../data/matches_$KEY.csv", header=headers)
teams = CSV.read("../data/matches_teams_$KEY.csv", header=["team1","team2","team3","key"])

teamnums = teams.team1 |> unique |> sort
teamindex = Dict(t => i for (i, t) in enumerate(teamnums))

ß = zeros(size(scores,1), size(teamnums,1))
for p in [:team1, :team2, :team3]
    for i=1:size(teams,1)
        team = teams[i,p]
        j = teamindex[team]
        ß[i,j] = 1.0
    end
end
y = convert.(Float64, coalesce(scores[COLUMN], -1.0))

1510-element Array{Float64,1}:
 436.0
 221.0
 423.0
 202.0
 335.0
 342.0
 275.0
 411.0
 466.0
 305.0
 371.0
 218.0
 173.0
   ⋮
 194.0
 246.0
 407.0
 260.0
 307.0
 315.0
 276.0
 361.0
 381.0
 218.0
 333.0
 258.0

In [16]:
model = ScikitLearn.fit!(LinearRegression(fit_intercept=false), ß, y)

PyObject LinearRegression(copy_X=True, fit_intercept=False, n_jobs=None,
         normalize=False)

In [32]:
oprs = DataFrame(hcat(teamnums, model[:coef_]), [:team, :rating])
sort(oprs, (:rating), rev = true)

130×2 DataFrame
│ Row │ team    │ rating  │
│     │ Any     │ Any     │
├─────┼─────────┼─────────┤
│ 1   │ frc225  │ 180.061 │
│ 2   │ frc1629 │ 179.407 │
│ 3   │ frc1731 │ 161.824 │
│ 4   │ frc1262 │ 151.46  │
│ 5   │ frc623  │ 145.201 │
│ 6   │ frc384  │ 144.733 │
│ 7   │ frc4472 │ 143.854 │
│ 8   │ frc5945 │ 142.947 │
│ 9   │ frc5546 │ 142.848 │
│ 10  │ frc2377 │ 142.467 │
⋮
│ 120 │ frc6189 │ 43.0326 │
│ 121 │ frc1719 │ 41.8937 │
│ 122 │ frc4464 │ 40.8737 │
│ 123 │ frc1598 │ 36.6767 │
│ 124 │ frc5954 │ 34.1709 │
│ 125 │ frc4949 │ 30.2648 │
│ 126 │ frc6893 │ 29.7068 │
│ 127 │ frc4286 │ 24.541  │
│ 128 │ frc617  │ 20.4372 │
│ 129 │ frc7330 │ 19.6018 │
│ 130 │ frc3714 │ 14.5124 │

In [35]:
model2 = ScikitLearn.fit!(ElasticNet(alpha=0.25, fit_intercept=false), ß, y)
oprs2 = DataFrame(hcat(teamnums, model2[:coef_]), [:team, :rating])
sort(oprs2, (:rating), rev = true)

130×2 DataFrame
│ Row │ team    │ rating  │
│     │ Any     │ Any     │
├─────┼─────────┼─────────┤
│ 1   │ frc1629 │ 67.4714 │
│ 2   │ frc384  │ 59.7123 │
│ 3   │ frc1731 │ 58.9891 │
│ 4   │ frc1262 │ 58.3808 │
│ 5   │ frc1885 │ 56.545  │
│ 6   │ frc5546 │ 56.5257 │
│ 7   │ frc836  │ 55.3608 │
│ 8   │ frc4472 │ 54.5846 │
│ 9   │ frc612  │ 54.3343 │
│ 10  │ frc422  │ 53.7598 │
⋮
│ 120 │ frc4464 │ 16.0872 │
│ 121 │ frc6021 │ 15.9414 │
│ 122 │ frc6893 │ 15.4875 │
│ 123 │ frc5954 │ 14.5832 │
│ 124 │ frc4795 │ 14.544  │
│ 125 │ frc4286 │ 13.96   │
│ 126 │ frc3714 │ 13.7584 │
│ 127 │ frc617  │ 13.054  │
│ 128 │ frc6312 │ 9.56628 │
│ 129 │ frc435  │ 8.86545 │
│ 130 │ frc7330 │ 6.78294 │